/* color variables */
$black: #333333;
$primary: #165dab;
$primaryDark: #132640;
$gray: #857f6f;
$lightGray: #f2f2f2;
$white: #fdfdfd;

body {
    font-family: 'open-sans', sans-serif;
}

#trainingPrograms{
    padding: 1rem;
    background: $lightGray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;

    .programCard {
        padding: 5px;
        border-radius: 10px;
        background: $primary;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 270px;
        margin: .5rem;

        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            background:url(
             data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2MUi1v9/++JqQwwwCis5vAfzmNgYIALMFtkM4BUYqgAAOFxC+X/a3+DAAAAAElFTkSuQmCC
                ) repeat;
            height: 160px;
            overflow: hidden;
            border-radius: 10px 10px 0px 0px;

            svg {
                height: 500px;
                filter: drop-shadow(0px 0px 1rem $primary);
            }

            img {
                width: 300px;
                filter: drop-shadow(0px 0px 1rem $primary);
            }
        }

        .info {
            padding: 0 1rem 2rem 1rem;
            background: $white;

            h2 {
                color: $primary;
                text-transform: uppercase;
                margin-bottom: -1rem;
            }

            h3 {
                color: $primaryDark;
                font-size: .9rem;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 1rem;
            }

            .learnMore {
                font-size: .8rem;
            }

            .button {
                font-size: .9rem;
                text-decoration: none;
                color: $white;
                background: $primary;
                padding: 10px;
                border-radius: 5px;
            }

            .inactiveBtn {
                background: $gray;
            }
        }
        
        .duration {
            background: $primaryDark;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            font-size: .8rem;
            border-radius: 0px 0px 10px 10px;
        }
    }
}